@page
@using System.Security.Cryptography.X509Certificates
@using ScratchCycles.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Scratch Cycles</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@(await Html.RenderComponentAsync<EndpointList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
